<f:layout name="default" />

<f:section name="contents">
	<div class="csc-header csc-header-n1"><h1 class="csc-firstHeader">Edit blog "<f:format.htmlEscape>{blog.name}</f:format.htmlEscape>"</h1></div>
	<f:for each="{flashMessages}" as="message">
		<p class="bodytext"><strong>{message}</strong></p>
	</f:for>
	<p class="bodytext">Enter information about your new blog below:</p>
	<f:form method="post" action="update" name="updatedBlog" object="{blog}" arguments="{blog: blog}" >
		<label for="description">Description</label><br />
		<f:form.textarea property="description" rows="2" cols="40" /><br />
		<f:form.submit>Update</f:form.submit>
	</f:form>
</f:section>