{namespace f3=F3\Fluid\ViewHelpers}
<f3:layout name="default" />

<f3:section name="contents">
	<div class="csc-header csc-header-n1"><h1 class="csc-firstHeader">Edit blog "{blog.name}"</h1></div>
	<p class="bodytext">Enter information about your new blog below:</p>
	<f3:form method="post" action="update" object="blog" arguments="{blog: blog}">
		<label for="name">Description</label><br />
		<f3:form.textarea name="properties[description]" property="description" value="{blog.description}" />
		<br />
		<f3:form.submit>Update</f3:form.submit>
	</f3:form>
</f3:section>