<f:layout name="master" />

<f:section name="mainbox">
	<h2 class="flow3-firstHeader">Edit blog</h2>
	<f:flashMessages class="flashmessages"/>
	<f:form.errors for="blog">
		<div class="error">
			<strong>{error.propertyName}</strong>:
			<f:for each="{error.errors}" as="errorDetail">{errorDetail.message}</f:for>
		</div>
	</f:form.errors>
	<f:form method="blog" action="update" object="{blog}" name="blog" enctype="multipart/form-data">
		<label>Title</label><br />
		<f:form.textbox property="title" id="title" /><br />
		<label for="description">Description</label><br />
		<f:form.textbox property="description" id="description" /><br />
		<label for="blurb">Blurb</label><br />
		<f:form.textarea property="blurb" rows="5" cols="40" id="blurb" /><br />
<!--		<label for="authorPicture">Author picture</label><br />
		<f:form.upload property="authorPicture" /><br /> -->
		<f:form.submit value="Update"/>
	</f:form>
</f:section>