<f:layout name="default" />

<f:section name="contents">
	<div class="csc-header csc-header-n1"><h1 class="csc-firstHeader">Welcome to the FLOW3 Blog Example</h1></div>
	<p class="bodytext">This installation serves as a demonstration for basic development techniques used in FLOW3 applications.
		Please note that this example might be not fully functional at certain times because we're continuously working on it
		and it has not yet been officially released.</p>

	<f:for each="{flashMessages}" as="message">
		<p class="bodytext"><strong>{message}</strong></p>
	</f:for>
	<f:if condition="{blogs}">
		<f:then>
			<p class="bodytext">Here is a list of blogs:</p>
			<ul>
				<f:for each="{blogs}" as="blog">
					<li>
						<h3><f:link.action action="index" controller="Post" arguments="{blog : blog}">{blog.name}</f:link.action></h3>
						<p>
							<f:format.nl2br><f:format.htmlEscape>{blog.description}</f:format.htmlEscape></f:format.nl2br>
							<f:actionLink action="edit" controller="Blog" arguments="{blog : blog}">Edit</f:actionLink>
							<f:actionLink action="delete" controller="Blog" arguments="{blog : blog}">Delete</f:actionLink>
						</p>
					</li>
				</f:for>
			</ul>
			<p><f:link.action action="new">Create another blog</f:link.action></p>
		</f:then>
		<f:else>
			<p><strong><f:link.action action="new">Create your first blog</f:link.action></strong></p>
		</f:else>
	</f:if>
</f:section>