<f:layout name="default" />

<f:section name="contents">
	<div class="csc-header csc-header-n1"><h1 class="csc-firstHeader">Create a new post</h1></div>
	<f:for each="{flashMessages}" as="message">
		<p class="bodytext"><strong>{message}</strong></p>
	</f:for>
	<f:form.errors for="newPost">
		<div class="error">
			<strong>{error.propertyName}</strong>: <f:for each="{error.errors}" as="errorDetail">{errorDetail.message}</f:for>
		</div>
	</f:form.errors>
	<f:form method="post" action="create" object="{newPost}" name="newPost">
		<f:form.hidden name="blog" value="{blog}" />
		<label for="author">Author <span class="required">(required)</span></label><br />
		<f:form.textbox property="author" id="author" /><br />
		<label for="title">Title <span class="required">(required)</span></label><br />
		<f:form.textbox property="title" id="title" /><br />
		<label for="content">Content</label><br />
		<f:form.textarea property="content" rows="5" cols="40" id="content" />
		<br />
		<f:form.submit>Create</f:form.submit>
	</f:form>
</f:section>