<f:layout name="default" />

<f:section name="contents">
	<div class="csc-header csc-header-n1"><h1 class="csc-firstHeader">Create a new post</h1></div>
	<f:form method="post" action="create" object="{newPost}" name="newPost">
		<f:form.hidden property="blog" />
		<label for="name">Author <span class="required">(required)</span></label><br />
		<f:form.textbox property="author" /><br />
		<label for="name">Title <span class="required">(required)</span></label><br />
		<f:form.textbox property="title" /><br />
		<label for="content">Content</label><br />
		<f:form.textarea property="content" rows="5" cols="40" />
		<br />
		<f:form.submit>Create</f:form.submit>
	</f:form>
</f:section>