{namespace f3=F3\Fluid\ViewHelpers}
<f3:layout name="default" />
<f3:section name="contents">
	<div class="csc-header csc-header-n1"><h1 class="csc-firstHeader">Posts tagged with &quot;{tag}&quot;:</h1></div>
	<div class="news-list-container">
		<f3:for each="{posts}" as="post">
			<div class="news-list-item">
				<h3>
					<span class="news-list-date"><f3:format.date target="{post.date}" format='l j. \o\f F Y' /></span>
					<f3:link action="show" arguments="{postUUID : post.identifier}">{post.title}</f3:link>
				</h3>
				<p class="bodytext"><f3:text.crop maxCharacters="100">{post.content}</f3:text.crop></p>
				<div class="news-list-category">
					Tags:
					<f3:for each="{post.tags}" as="singleTag">
						<f3:link action="postsByTag" arguments="{tag:singleTag}">{singleTag}</f3:link>&nbsp;
					</f3:for>
				</div>
				<div class="news-list-morelink"><f3:link action="show" arguments="{postUUID : post.identifier}">[read more >> ]</f3:link></div>
				<hr class="clearer" />
			</div>
		</f3:for>
	</div>
	<div class="news-single-backlink"><f3:link action="index">&lt;- Back to latest posts</f3:link></div>
</f3:section>