<?xml version="1.0"?>
<html xmlns="http://typo3.org/ns/html-base"
		xmlns:xsi="http://typo3.org/ns/html-base"
		xmlns:blog="http://typo3.org/ns/fluid/F3/Blog/ViewHelpers"
		xsi:schemaLocation="http://typo3.org/ns/html-base
			http://localhost/BlogExample/Public/Resources/Web/Fluid/Public/html-base.xsd
			http://typo3.org/ns/fluid/F3/Blog/ViewHelpers
			http://localhost/BlogExample/Public/Resources/Fluid/XSD/F3_Blog_ViewHelpers.xsd">
	 <!-- Your content goes here -->
{namespace blog=F3\Blog\ViewHelpers}
<f:layout name="default" />
<f:section name="contents">
	<div class="news-single-item">
		<div class="news-single-timedata"><f:format.date format="d.m.y H:i">{post.date}</f:format.date></div>
		<h2>{post.title}</h2>
		<div class="news-single-category">
			Tags:
			<f:for each="{post.tags}" as="tag">
				<f:link.action action="postsByTag" arguments="{ tag : tag }">{tag}</f:link.action>
			</f:for>
		</div>
		<p class="news-single-author">{post.author}</p>
		<p class="bodytext">{post.content}</p>
		<hr class="clearer" />
		<div class="news-single-backlink"><f:link.action action="index"><- Back</f:link.action></div>
	</div>
	<div class="tx-veguestbook-pi1">
		<h2>comments</h2>
		<f:for each="{post.comments}" as="comment">
			<div class="comment">
				<div class="comment-header">
					<a name="comment"></a>
				</div>
				<div class="comment-info">
					<blog:gravatar email="{comment.emailAddress}" default="Resources/Packages/Blog/gravatar_default.gif" size="40" class="gravatar" title="{comment.author}" />

					<span class="comment-author"><a href="mailto:{comment.emailAddress}">{comment.author}</a></span>
					<span class="comment-date"><f:format.date format="F m, Y">{post.date}</f:format.date></span>
					<span class="comment-time"><f:format.date format="H:i">{post.date}</f:format.date></span>
				</div>
				<div class="comment-text">
					{comment.content}<!--  TODO: replace newlines here -->
				</div>
				<hr class="clear" />
			</div>
		</f:for>
	</div>
	<div class="tx-veguestbook-pi1">
		<a name="commentform"></a>
		<f:form name="comment" method="post" controllerName="Comment" action="create" class="comment-form">
			<h4>Add your own</h4>
			<label for="author">name <span class="required">(required)</span></label><br />
			<f:form.textbox id="author" property="name" />
			<br />
			<label for="email">email <span class="required">(required)</span></label><br />
			<f:form.textbox id="email" property="email" />
			<br />
			<label for="text">message <span class="required">(required)</span></label><br />
			<f:form.textarea id="text" property="content" rows="5" cols="30" class="tx-guestbook-form-textarea" />
			<br />
			<f:form.submit>Say it</f:form.submit>
		</f:form>
	</div>
</f:section>
</html>