{namespace blog=F3\Blog\ViewHelpers}
<f:layout name="default" />

<f:section name="mainbox">
	<div id="navigation">
		<f:if condition="{previousPost}">
			<span class="previous">« <f:link.action action="show" arguments="{post: previousPost, blog: post.blog}">{previousPost.title}</f:link.action></span>
		</f:if>
		<f:if condition="{nextPost}">
			<span class="next"><f:link.action action="show" arguments="{post: nextPost, blog: post.blog}">{nextPost.title}</f:link.action> »</span>
		</f:if>
		<div class="clear"></div>
	</div>
	<h2>{post.title}</h2>
	<f:render partial="/postMetadata" arguments="{post: post}"/>
	<p class="content">{post.content}</p>
	<if condition="{post.numberOfComments}">
		<ol class="comments">
			<f:for each="{post.comments}" as="comment">
				<li>{comment.title}</li>
			</f:for>
		</ol>
	</if>
</f:section>