{namespace a=Admin\ViewHelpers}
{namespace blog=TYPO3\Blog\ViewHelpers}
<f:layout name="Bootstrap"/>

<f:section name="mainbox">
	<div id="navigation">
		<f:if condition="{previousPost}">
			<span class="previous">&laquo; <f:link.action action="show" arguments="{post: previousPost}" rel="prev">{previousPost.title}</f:link.action></span>
		</f:if>
		<f:if condition="{nextPost}">
			<span class="next"><f:link.action action="show" arguments="{post: nextPost}" rel="next">{nextPost.title}</f:link.action> &raquo;</span>
		</f:if>
		<div class="clear"></div>
	</div>

	<f:flashMessages class="flashmessages" />

	<h1>{post.title}</h1>
	<f:render partial="/PostMetaData" arguments="{post: post}"/>
	<blog:markdown>{f:format.raw(value: post.content)}</blog:markdown>
	
	<f:if condition="{post.image.originalResource}">
		<p><img src="{f:uri.resource(resource: post.image.originalResource)}" style="max-width: 100%" alt="{post.image.title}" /></p>
	</f:if>
	<f:if condition="{post.relatedPosts}">
		<div id="relatedposts" class="relatedposts">
			<h3>Related Posts</h3>
			<ul class="relatedpostslist">
				<f:for each="{post.relatedPosts}" as="relatedPost">
					<li><f:link.action action="show" arguments="{post: relatedPost}">{relatedPost.title}</f:link.action></li>
				</f:for>
			</ul>
		</div>
		<div class="clear"></div>
	</f:if>
	
	<hr />
	<div id="comments" class="comments">
		<f:if condition="{post.numberOfComments}">
			<b>Comments</b>
			<ol class="commentlist">
				<f:for each="{post.comments}" as="comment" reverse="TRUE">
					<li class="comment">
						<p class="metadata">
							<img src="{f:uri.resource(path: 'Icons/FamFamFam/user_comment.png')}" title="Comment" /> {comment.author} | <f:format.date format='d.m.Y'>{comment.date}</f:format.date>
							<f:security.ifHasRole role="Editor">
								| <f:link.action onclick="return confirm('Really delete this comment?');" action="delete" arguments="{post: post, comment: comment}" controller="Comment"><img src="{f:uri.resource(path: 'Icons/FamFamFam/page_delete.png')}" title="Delete post" /></f:link.action>
							</f:security.ifHasRole>
						</p>
						<blog:gravatar email="{comment.emailAddress}" default="{f:uri.resource(path: 'gravatar_default.png')}" class="gravatar" />
						<p ><f:format.nl2br>{comment.content}</f:format.nl2br></p>
					</li>
				</f:for>
			</ol>
			<div class="clear"></div>
		</f:if>
		<h3>Leave a reply</h3>
		<f:form action="create" arguments="{post: post}" controller="Comment" fieldNamePrefix="newComment" object="{newComment}" name="newComment" class="form-stacked" section="comments">
			<a:being className="\TYPO3\Blog\Domain\Model\Comment">
				<div class="container">
					<div class="span4">
						<a:form.field property="{being.author}" />
						<a:form.field property="{being.emailAddress}" />
					</div>
					<div class="span4">
						<a:form.field property="{being.content}" />
					</div>
				</div>
			</a:being>
			<div class="actions pull-right">
				<f:form.submit class="btn" value="Submit"/>
			</div>
		</f:form>
	</div>
</f:section>