#main-nav {
	background-color: #99011e;
	border-color: #700016;
}
#main-nav ul {
	border-color: #99011e;
}
#main-nav li a {
	border-right: 1px solid #ffffff;
	border-top: 1px solid #99011e;
}
#main-nav li a:hover {
	background-color: #e56508;
	border-top: 1px solid #e56508;
}
div#sub-nav-title {
	background-color: #99011e;
	border-color: #700016;
}
div#sub-nav {
	border-color: #99011e;
}

h1.csc-firstHeader, h2.csc-firstHeader {
	color: #700016;
}

a, a:visited {
	color: #700016;
}
a:hover {
	color: #e56508;
}

.comment-header {
	background-color: #99011e;
	border-color: #700016;
}

/**
 * Form validation styles
 */
input.f3-form-error {
	border: 1px solid #8a1f11;
}
ul.errors {
}
.error, .notice, .success {
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}
.error {
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}
.notice {
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}
.success {
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}
.error a {
	color:#8a1f11;
}
.notice a {
	color:#514721;
}
.success a {
	color:#264409;
}
