
li.post, li.comment {
	list-style-type: none;
	list-style-image: none;
}

li.post p.metadata {
	font-size: 11px;
	color: #8c8c8c;
	margin: 0;
}

ul.relatedpostslist {
	clear: both;
	margin-top: 8px;
	margin-bottom: 10px;
	background-color: #efefef;
	padding: 8px;
}

ul.relatedpostslist li {
	list-style-type:square;
	margin-left:15px;
}

ol.commentlist {
	clear: both;
	margin-bottom: 10px;
	margin-left:0;
}

li.comment {
	clear: both;
	background-color: #efefef;
	overflow:hidden;
}


li.comment p {
	padding: 8px;
	margin: 0;
	margin-left:80px;
}
li.comment p.metadata {
	background-color: #d7d7d7;
	border-bottom: 1px solid #999999;
	padding: 1px 8px;
	margin: 0px 0 0 0;
}

.comment img.gravatar {
	float: left;
	margin: 4px 10px 4px 0;
}
.post h1 a,
.post h2 a,
.post h3 a,
.post h4 a{
	color:#444;
}

.comments .span4 {
	margin-left:0px;
}

.comments .span4 input {
	width:270px;
}

.comments .span4 textarea {
	width:310px;
	height:120px;
}