/*--------------------------------- ve_guestbook LIST view  -----------------------------------*/

.comment-header {
	background-color: #ff9f33;
	border-top: 3px solid #ff8700;
	padding: 0px 2px 0px 11px;
	color: #fff;

	font-family: Arial, Verdana, sans-serif;
	font-size: 13px;
	font-weight: bold;
	line-height: 18px;
}

.comment-info {
	background-color: #515151;
	padding: 5px;
	width: 190px;
	color: #fff;
	float: left;
}

.comment-author,
.comment-date,
.comment-time {
	display: block;
	padding-left: 7px;
}

.comment-author a {
	color: #fff;
}

img.gravatar {
	float: right;
	margin-top: 4px;
}

.comment-text {
	float: right;
	width: 275px;
}

.comment hr.clear {
	clear: both;
	visibility: hidden;
}

/*--------------------------------- ve_guestbook FORM  -----------------------------------*/
.comment-form {
	margin-top: 35px;
}

.comment-form #author,
.comment-form #email,
.comment-form #url,
.comment-form #text,
.comment-form #submit {
	border: 1px solid #515151;
	background-color: #fff;
}

.comment-form #author,
.comment-form #email,
.comment-form #url,
.comment-form #text {
	width: 476px;
	margin-bottom: 4px;
	padding: 2px;
}

/*
.comment-form #author,
.comment-form #email,
.comment-form #url {
	height: 20px;
}
*/

.comment-form #text {
	margin-bottom: 10px;
}

.comment-form #submit {
	margin-bottom: 50px;
}

.comment-form #author:hover,
.comment-form #author:focus,
.comment-form #email:hover,
.comment-form #email:focus,
.comment-form #url:hover,
.comment-form #url:focus,
.comment-form #text:hover,
.comment-form #text:focus,
.comment-form #submit:hover,
.comment-form #submit:focus {
	border: 1px solid #ff8700;
}
