<f:layout name="Master" />

<f:section name="mainbox">
	<h2 class="flow3-firstHeader">Create a new category</h2>
	<f:flashMessages class="flashmessages"/>
	<f:form.errors for="newCategory">
		<div class="error">
			<strong>{error.propertyName}</strong>: <f:for each="{error.errors}" as="errorDetail">{errorDetail.message}</f:for>
		</div>
	</f:form.errors>
	<f:form method="post" action="create" object="{newCategory}" name="newCategory">
		<label>Name</label><br />
		<f:form.textbox property="name" /><br />
		<f:form.submit value="Submit category"/>
	</f:form>
</f:section>